
{% extends 'base.html' %}
{% block title %}  Home {% endblock title %} 
{% block body_block %}


    <!-- tasks form -->
    <div class="container my-3">
        
            <h2>Update your todo</h2>
            <form action="/update/{{todo.sno}}" method="POST">
            <div class="mb-3">
                <label for="todo" class="form-label">Title</label>
                <input type="text" class="form-control" name="title" id="todo" value ="{{todo.title}}" >
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" name="description" id="description" value ="{{todo.description}}" >
            </div>

            <button type="submit" class="btn btn-dark">Update</button>
        </form>
    </div>

    <!-- table -->
  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
        {% endblock body_block %}